{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the Blog Section</h1>
    <p>Here you can find our latest blog posts, updates, and news articles.</p>

    <div class="blog-articles">
        <article class="blog-article">
            <h2><a href="https://kun.uz/uz/news/2023/12/21/sugurta-kompaniyasi-bilan-145-mlrd-somni-ozlashtirmoqchi-bolganda-bojxona-xodimi-hibsga-olindi-bojxona-qomitasi">Sug‘urta kompaniyasi bilan 145 mlrd so‘mni o‘zlashtirmoqchi bo‘lgan bojxona xodimi hibsga olindi - Bojxona qo‘mitasi</a></h2>
        </article>
        <article class="blog-article">
            <h2><a href="https://kun.uz/uz/news/2023/09/04/istiqbolli-loyihalar-milliy-agentligi-kapital-bozori-re
gulyatoriga-aylandi">Sug‘urta polislarini ro‘yxatga oluvchi va aylanmasini nazorat qiluvchi yagona axborot tizimi yaratiladi</a></h2>
        </article>
        <article class="blog-article">
            <h2><a href="https://kun.uz/uz/news/2022/07/14/inson-hayotini-sugurta-qilishga-oid-klassifikatorlar-
kengaytirildi">Harbiylar uchun davlat majburiy sug‘urtasidagi monopoliya tugatildi</a></h2>
        </article>
        <article class="blog-article">
            <h2><a href="https://kun.uz/uz/news/2021/07/03/sugurtalovchilar-mijozlarini-tekshirish-qatiylashadi">Sug‘urtalovchilar mijozlarini tekshirish qat'iylashadi</a></h2>
        </article>
        <article class="blog-article">
            <h2><a href="https://kun.uz/uz/news/2021/08/19/ozbekistonda-vaksinatsiyaning-salbiy-oqibatlaridan-himoyalanishga-qaratilgan-sugurta-xizmati-yolga-qoyilgan
">O‘zbekistonda vaksinatsiyaning salbiy oqibatlaridan himoyalanishga qaratilgan sug‘urta xizmati yo‘lga qo‘yildi</a></h2>
        </article>
        <article class="blog-article">
            <h2><a href="https://kun.uz/uz/news/2021/10/25/sugurtaning-barcha-turlari-elektron-shaklda-amalga-oshiriladi">Sug‘urtaning barcha turlari elektron shaklda amalga oshiriladi</a></h2>
        </article>
        <article class="blog-article">
            <h2><a href="https://www.gazeta.uz/oz/2023/11/06/ilma/">O‘zbekistonda to‘rtta sug‘urta kompaniyasi litsenziyasidan mahrum bo‘ldi</a></h2>
        </article>
    </div>
</div>
{% endblock %}
